body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    height: 120px;
    width: 100%;
    background-color: rgba(94, 93, 88, .6);
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    opacity: 60%;
    text-decoration: none;
}

.menu-list a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 60%;
    padding-bottom: 46px;
}

.menu-list a:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transition: 0.5s;
}

.menu-wrap {
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.menu-list li {
    margin-left: 23px;
}

.search {
    margin-left: 23px;
}

.search a:hover {
    padding-bottom: 44px;
}

.logo a {
    font-size: 32px;
    color: #ffffff;
    opacity: 100%;
    text-transform: lowercase;
    font-weight: lighter;
    line-height: 48px;
    letter-spacing: 2px;
}

.logo a .ham {
    color: #18CFAB;
    text-transform: none;
    font-weight: bold;
}

.container-wrap {
    min-width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.container-wrap::before {
    content: '';
    background-image: url(../images/section-1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 82%;
}

.bgLogo {
    display: flex;
    align-items: center;
}

.bgLogo a {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.logoH {
    margin-left: -45px;
    margin-right: 18px;
}

.logoGreenBg {
    margin-top: 8px;
}

.header-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-text-first {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.header-text-second {
    color: #FFF;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}

.header-text-third {
    color: #D4D4D4;
    font-size: 34px;
    font-weight: 400;
    margin-top: 22px;

}

.green-color {
    color: #18CFAB;
}

.header-text-buttons {
    margin-top: 134px;
}

.expButton {
    color: #FFF;
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-top: 3px solid #FFF;
    border-radius: 6px;
    margin-right: 26px;
}

.expButton:hover {
    cursor: pointer;
    border-top: 3px solid #18CFAB;
    height: 60px;
    transition: 0.3s;
}

.purButton {
    color: #FFF;
    width: 169px;
    height: 63px;
    background-color: #00CBF6;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    border-top: 3px solid #FFF;
}

.purButton:hover {
    cursor: pointer;
    border-top: 3px solid #00CBF6;
    height: 60px;
    transition: 0.3s;
}

.second-section {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.second-section img {
    margin-bottom: 60px;
}

.first {
    width: 482px;
    height: 377px;
    background-color: #1C2A33;
    color: #18CFAB;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second {
    width: 482px;
    height: 377px;
    background-color: #18CFAB;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bag {
    margin-bottom: -24px;
}

.our-services-wrap {
    height: 560px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.our-services {
    width: 1160px;

}

.our-services h2 {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-top: 90px;
}

.our-services-sections {
    display: flex;
    margin-top: 110px;
    color: #717171;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


.our-services-sections li {
    width: 195px;
    height: 76px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-services-sections li:hover {
    border: 1px solid #18CFAB;
    cursor: pointer;
    font-weight: 400;
    transition: 0.5s;
}

.visible {
    display: flex;
}

.our-services-sections li.active {
    background-color: #18CFAB;
    color: #FFF;
}

.our-services-content {
    margin-top: 25px;
    display: flex;
}

.our-services-text {
    margin-left: 15px;
    color: #777;
    line-height: 24px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
}

.section-ready {
    background-image: url(../images/Background2.jpg);
    height: 476px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.everything {
    color: #18CFAB;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.455px;
    text-transform: uppercase;
}

.smooth {
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.our-amazing-wrap {
    background-color: #E9EDEF;
    width: 100%;
    min-height: 1212px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.our-amazing {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-amazing h2 {
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 100px;
}

.our-amazing ul {
    margin-top: 100px;
    display: flex;
}

.our-amazing li {
    padding: 31px 40px;
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
}

.our-amazing li:hover {
    cursor: pointer;
    border: 1px solid #18CFAB;
    color: #18CFAB;
    transition: 0.5s;
}

.our-amazing li.active {
    cursor: pointer;
    border: 1px solid #18CFAB;
    color: #18CFAB;
    transition: 0.5s;
}

.amazing-images {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.amazing-button {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    margin-top: 70px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amazing-button:hover {
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.btn-text {
    margin-left: 14px;
}

.breaking-wrap {
    height: 960px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.breaking-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.breaking-news h2 {
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 400;
    margin-top: 85px;
}

.breaking-news a {
    position: relative;
    margin-top: 60px;
}

.breaking-news a p {
    margin-left: 10px;
    color: #717171;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
}

.breaking-news a:hover p{
    color: #18CFAB;
}

.breaking-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background: #203E38;
    justify-content: space-evenly;
    color: #fff;
}

.breaking-news a:hover .breaking-date {
    background-color: #18CFAB;
}

.breaking-links {
    width: 1160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.comments {
    display: flex;
    color: #777;
    font-size: 13.991px;
    font-weight: 300;
    margin-left: 20px;
}

.comments div {
    margin-right: 10px;
}

.third-section-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 853px;
    width: 100%;
    background-image: url(../images/section-3.jpg);
}

.people-say {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    flex-shrink: 0;
}

.people-say .combined {
    margin-top: 100px;
}

.third-section-wrap h2 {
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.person-info {
    color: #BBB;

    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.person-info div {
    margin-top: 38px;
}

.person-info .person-name {
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    /* 168.75% */
    text-transform: uppercase;
}

.person-info .prophession {
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
}

.dnone {
    display: none;
}

.active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.footer {
    height: 120px;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AEAEAE;

font-size: 14px;
font-weight: 300;
line-height: 26px;
}

.mainColor {
    color: #18CFAB;
}

.carousel-wrap {
    position: relative;
    overflow: hidden;
    width: 1160px;
    display: flex;
    flex-grow: 1;
}

.carousel {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    transition: left .3s;
}

.carousel-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;
}

.carousel-pagination li {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}

.carousel-pagination li.active {
    top: -20px;
    border: none;
}

.photosMain {
    margin-top: 40px;
    scale: 2.5;
}

.arrow-back:hover {
    background-color: #18CFAB;
    color: #FFF;
    line-height: 0;
}
.arrow-forward:hover {
    background-color: #18CFAB;
    color: #FFF;
    line-height: 0;
}